<div ng-controller="CanteenController">
    <h1 ng-bind="meals.name"></h1>
    <div style="margin-left: 5px; margin-right: 5px;" ng-repeat="mealgroup in meals.mealGroups">
        <h2 ng-bind="mealgroup.title"></h2>
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width: 75%">Gericht</th>
                    <th style="width: 25%">Preis Student</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="meal in mealgroup.meals">
                    <td ng-bind="meal.name"></td>
                    <td style="text-align: right;" ng-bind-template="{{meal.priceStudent | currency}}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <button class="btn btn-default" ng-click="incrementDate()">&gt;&gt;</button>
</div>
