<!DOCTYPE html>
<html lang="en" ng-app="MainApp" ng-strict-d>
<head>
  <meta charset="utf-8">
  <title>HsKa Praxisboerse</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="js/angular.min.js"></script>
  <script src="js/angular-base64.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/i18n/angular-locale_de-de.js"></script>
  <script src="js/ui-bootstrap-tpls-0.14.3.js"></script>
  <script src="praxisboerse/praxisboerse.js"></script>
  <script src="app.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2HVhUuiak_fTgVLd0rXJKYzTrjFEslT8"></script>
</head>
<body ng-controller="MainController">


<!--<button class="btn btn-default" ng-click="refresh()">&gt;&gt; (ext)</button>-->

<div ng-controller="MainController">
  <div class="container-fluid">
    <!--<div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>-->

    <!--<input type="text" name="test" class="form-control" ng-model="scopeTest" required />-->

    <offer-popup-template></offer-popup-template>
    <company-popup-template></company-popup-template>

    <form class="form-signin" name="form" ng-hide="loggedIn" ng-submit="login()" role="form">

      <h2 class="form-signin-heading">Login</h2>

      <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="form-control" ng-model="user.name" placeholder="IZ Benutzername" required />
        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
      </div>

      <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" ng-model="user.password" placeholder="Passwort" required />
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
      </div>

      <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
      </div>
    </form>

    <form name="form" ng-show="loggedIn" ng-submit="logout()" role="form">
      <div align="right" style="margin: 10px;" class="form-actions">
        <button type="submit" class="btn btn-primary">Logout</button>
      </div>
    </form>

    <!--<form name="form" ng-show="loggedIn" ng-submit="showNotepad()" role="form">-->
      <!--<div class="form-actions">-->
        <!--<button type="submit" class="btn btn-primary">Merkzettel</button>-->
      <!--</div>-->
    <!--</form>-->

    <!--<notepad-view ng-show="loggedIn" url="https://www.iwi.hs-karlsruhe.de/Intranetaccess/REST/joboffer/notepad/0/-1"></notepad-view>-->

    <praxisboerse-view ng-show="loggedIn" url="https://www.iwi.hs-karlsruhe.de/Intranetaccess/REST/joboffer/offertypes/all"></praxisboerse-view>


  </div>

</div>

</body>
</html>
