<!DOCTYPE html>
<html lang="en" ng-app="MainApp" ng-strict-d>
<head>
  <meta charset="utf-8">
  <title>HsKa Praxisboerse</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/angular.min.js"></script>
  <script src="js/angular-base64.js"></script>
  <script src="js/i18n/angular-locale_de-de.js"></script>
  <script src="js/ui-bootstrap-tpls.min.js"></script>
  <script src="canteen/canteen.js"></script>
  <script src="praxisboerse/praxisboerse.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="MainController">
<!--<canteen-view url="http://www.iwi.hs-karlsruhe.de/Intranetaccess/REST/canteen/2/"></canteen-view>-->
<!--<praxisboerse-view url="https://www.iwi.hs-karlsruhe.de/Intranetaccess/REST/credential/info"></praxisboerse-view>-->

<!--<h1>Weiterer Controller</h1>-->
<!--<button class="btn btn-default" ng-click="refresh()">&gt;&gt; (ext)</button>-->

<div ng-controller="MainController">
  <div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <!--<div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>-->

    <!--{{scopeTest}}-->
    <!--<input type="text" name="test" class="form-control" ng-model="scopeTest" required />-->

    <form name="form" ng-hide="loggedIn" ng-submit="login()" role="form">

      <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="form-control" ng-model="user.name" required />
        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
      </div>

      <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
      </div>

      <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
        <!--<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
      </div>

    </form>

    <label ng-bind="loggedIn"></label><br>

    <praxisboerse-view url="https://www.iwi.hs-karlsruhe.de/Intranetaccess/REST/credential/info"></praxisboerse-view>

  </div>

</div>

</body>
</html>
