<div class="modal">
    <script type="text/ng-template" id="offerPopupTemplate.html">
        <div class="model-dialog" role="document">
            <div class="modal-header">
                <h3 class="modal-title">{{selectedOffer.shortDescription}}</h3>
            </div>
            <div class="modal-body">

                <table style="width: 1%" class="table table-bordered table-responsive">
                    <tr>
                        <td nowrap><strong>Hinzugefügt</strong></td>
                        <td nowrap>{{selectedOffer.dateAdded | date}}</td>
                    </tr>
                    <tr>
                        <td nowrap><strong>Gültig bis</strong></td>
                        <td nowrap>{{selectedOffer.validDate | date}}</td>
                    </tr>
                    <tr>
                        <td nowrap><strong>Firma</strong></td>
                        <td nowrap>{{company.companyName}}</td>
                    </tr>
                    <tr>
                        <td nowrap><strong>Ort</strong></td>
                        <td nowrap>{{selectedOffer.usageSite}}</td>
                    </tr>
                </table>

                <h3>Beschreibung</h3>
                <pre ng-bind="selectedOffer.description"></pre>
                <!--style="white-space: pre;" style="width: 100%;"-->
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
            </div>
        </div>
    </script>
</div>